[dependency-groups]
dev = [
  "poethepoet>=0.38.0",
  "prek>=0.2.22"
]

[project]
name = "jga-blog-page"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
  "mkdocs-material[git,imaging,recommended]>=9.7.0",
  "mkdocs-minify-html-plugin>=0.3.9",
  "mkdocs>=1.6.1",
  "prek>=0.2.22",
  "pymdown-extensions>=10.18",
  "rendercv[full]>=2.4"
]

[tool.poe.tasks]
# setup
_setup_pre-commit = "pre-commit install"
setup = {sequence = ["_setup_pre-commit"], help = "Setup dev environment"}
# update
update_pre-commit = "pre-commit autoupdate -j0"
update_python_packages = {shell = "uv sync --upgrade && uvx uv-bump"}
update_flake = "nix flake update"
update = {shell = 'set -e; poe update_flake & poe update_pre-commit & poe update_python_packages & wait', help = "Update dependencies in parallel"}
# build
build_rendercv = {shell = 'rendercv render -o $(mktemp -d) --pdf-path docs/assets/Jakob_Stender_Guldberg_CV.pdf ./cv/Jakob_Stender_Guldberg_CV.yml'}
build_mkdocs = 'mkdocs build'
build = {sequence = [
  "build_rendercv",
  "build_mkdocs"
], help = "Build the CV and the MkDocs site."}
# deploy
mkdocs_deploy = {cmd = "mkdocs gh-deploy --force"}
deploy = {deps = [
  "build",
  "mkdocs_deploy"
], help = "Build the site and deploy to GitHub Pages.", cmd = "echo Successfully deployed pages!"}
# serve
_mkdocs_serve = {cmd = "mkdocs serve"}
serve = {sequence = [
  "build_rendercv",
  "_mkdocs_serve"
], help = "Serve the mkdocs pages locally."}
# clean
_clean_mkdocs = {shell = 'rm -rf site .cache/mkdocs .cache/mkdocs-material .cache'}
_clean_rendercv = {shell = 'rm -rf .rendercv .rendercv-cache .cache/rendercv docs/assets/Jakob_Stender_Guldberg_CV.pdf'}
_clean_py = {shell = 'find . -type d -name "__pycache__" -prune -exec rm -rf {} +; find . -type f -name "*.py[co]" -delete'}
clean = {sequence = [
  "_clean_mkdocs",
  "_clean_rendercv",
  "_clean_py"
], help = "Remove MkDocs build/cache, RenderCV artifacts, and Python bytecode caches."}
