---
name: Zensical build and deploy
on:
  push:
    branches: [main]
permissions:
  contents: write
  id-token: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: DeterminateSystems/magic-nix-cache-action@main
      - uses: DeterminateSystems/flake-checker-action@main
      - name: Run pre-commit validation
        run: nix develop -c uv run pre-commit run --all-files
      # check for cv pdf cache or build
      - id: cache_rendercv
        uses: actions/cache@v4
        with:
          path: docs/assets/Jakob_Stender_Guldberg_CV.pdf
          key: ${{ runner.os }}-${{ hashFiles('cv/Jakob_Stender_Guldberg_CV.yml')
            }}
      - name: Render cv
        if: steps.cache_rendercv.outputs.cache-hit != 'true'
        run: nix develop -c uv run poe build_rendercv
      # Check for zensical cache or build
      - id: cache_zensical
        uses: actions/cache@v4
        with:
          path: site
          key: ${{ runner.os }}-${{ hashFiles('docs/**/*', 'zensical.toml', 'pyproject.toml',
            'uv.lock', 'overrides/**/*', '.markdownlint.yml', 'flake.nix', 'flake.lock')
            }}
      - name: Build zensical
        if: steps.cache_zensical.outputs.cache-hit != 'true'
        run: nix develop -c uv run poe build_zensical
      - name: Build and Deploy Site
        run: nix develop -c uv run poe deploy
